<div class="d-flex flex-column justify-content-center">
    
        <div class="flex-row justify-content-center texto1">
            <h1>Kidory</h1>
    </div>

    <div class="flex-row justify-content-center logo">
            <img src="/logo.png"> <!-- img -->
    </div>


    <div class="d-flex flex-row justify-content-center">
        
    <div class="flex-row justify-content-center boton_invite">
            <a href="/invite"><button type="button" class="btn btn-secondary ol">Invitar</button></a>
    </div>
        <div class="flex-row justify-content-center boton_discord">
            <a href="/discord"><button type="button" class="btn btn-secondary ol">Discord</button></a>
    </div>
<!-- No entendi lo del margin .--->

    <div class="flex-row justify-content-center boton_vote">
            <a href="/vote"><button type="button" class="btn btn-secondary ol">Votar</button></a>
    </div>
    </div>
</div>