<div class="caja">

    <div class="texto_vota">
        <h1>¡Votanos!</h1>
    </div>

    <div class="topgg">
        <a href="https://top.gg/bot/794159026908561418" target="_blank"><button type="button" class="btn btn-secondary btn-lg we">Top.gg</button></a>
    </div>

    <div class="boats">
        <a href="https://discord.boats/bot/794159026908561418" target="_blank"><button type="button" class="btn btn-secondary btn-lg we">Boats</button></a>
    </div>

    <div class="madking">
        <a href="https://madking.us/bot/794159026908561418" target="_blank"><button type="button" class="btn btn-secondary btn-lg we">Madking</button></a>
    </div>

    <div class="mybot">
        <a href="https://portalmybot.com/mybotlist/bot/794159026908561418" target="_blank"><button type="button" class="btn btn-secondary btn-lg we">Mybot</button></a>
    </div>



</div>